<% provide(:title, 'Цены') %>
<!DOCTYPE html>
<html>
<body>
	<h1>Цены</h1>
<div class="main_block">
		<div class="price">
			<div class="packet">
				<h2><img src="/system/images/W1siZiIsIjIwMTYvMTAvMDIvNjRlMnQ3dGhxcl9fLmpwZyJdLFsicCIsInRodW1iIiwiNDgweDcyMFx1MDAzZSJdXQ/%D1%81%D0%B5%D0%BC%D1%8C%D1%8F%20%D0%B8%20%D0%B4%D0%B5%D1%82%D0%B8.jpg?sha=953d7720448d4981" title="семья и дети" alt="семья и дети" data-rel="480x720" width="480" height="320" /></h2>
<h2>Семейные и детские фотосессии, фотосессии для беременных</h2>
				<h5>В студии (оплачивается отдельно), дома или на природе</h5>
				<h2>Пакет «Mini»</h2>
				<h4>
					<ul>
						<li>Предварительная консультация и рекомендации по подбору образов</li>
						<li>Реквизит</li>
						<li>Фотосъемка 1 час</li>
						<li>150+ фотографий с базовой обработкой фото (цветокоррекция и кадрирование)</li>
						<li>10 фото - углубленная ретушь и обработка</li>
						<li>Передача обработанных фотографий через файлообменник</li>
						<li>Цена: 3000 р.</li>
					</ul>
				</h4>
			</div>

			<div class="packet">
				<h2>Пакет «Classic»</h2>
				<h4>
					<ul>
						<li>Предварительная консультация и рекомендации по подбору образов</li>
						<li>Реквизит</li>
						<li>Фотосъемка 2 часа</li>
						<li>250+ фотографий с базовой обработкой фото (цветокоррекция и кадрирование)</li>
						<li>15 фото - углубленная ретушь и обработка</li>
						<li>Передача обработанных фотографий через файлообменник</li>
						<li>Цена: 5000 р.</li>
					</ul>
				</h4>
			</div>

			<div class="packet">
				<h2>Пакет «Premium»</h2>
				<h4>
					<ul>
						<li>Предварительная консультация и рекомендации по подбору образов</li>
						<li>Реквизит</li>
						<li>Фотосъемка от 2-х часов</li>
						<li>300+ фотографий с базовой обработкой фото (цветокоррекция и кадрирование)</li>
						<li>Мейкап + укладка</li>
						<li>30-40 фото - углубленная ретушь и обработка</li>
						<li>запись всех фотографий на оформленный DVD-диск или передача фотографий через файлообменник (на выбор)</li>
						<li>Цена: 10000 р.</li>
					</ul>
				</h4>
			</div>
		</div>
		<div class="price">
			<div class="packet">
				<h2><img src="/system/images/W1siZiIsIjIwMTYvMTAvMDIvN2p2a3VyMHFrcF9fLmpwZyJdLFsicCIsInRodW1iIiwiNDgweDcyMFx1MDAzZSJdXQ/%D1%81%D0%B2%D0%B0%D0%B4%D1%8C%D0%B1%D0%B0.jpg?sha=26bf29858382e9b7" title="семья и дети" alt="семья и дети" data-rel="480x720" width="480" height="320" /></h2>
<h2>Свадьба</h2>
				<h2>Пакет «Самое важное»</h2>
				<h4>
					<ul>
						<li>Предварительная консультация, обсуждение желаний и идей заказчика</li>
						<li>Репортажная и постановочная фотосъемка до 3-х часов</li>
						<li>Базовая обработка всех фотографий (цветокоррекция и кадрирование)</li>
						<li>Углубленная ретушь 15 фото</li>
						<li>Передача обработанных фотографий через файлообменник</li>
						<li>Печать 5 фото 15х20, 3 фото 20х30</li>
						<li>Цена: 9000 р.</li>
					</ul>
				</h4>
			</div>
			<div class="packet">
				<h2>Пакет «Вспомнить все»</h2>
				<h4>
					<ul>
						<li>Предварительная консультация, обсуждение желаний и идей заказчика</li>
						<li>Репортажная и постановочная фотосъемка до 7-и часов</li>
						<li>Базовая обработка всех фотографий (цветокоррекция и кадрирование)</li>
						<li>Углубленная ретушь 30 фото</li>
						<li>Передача обработанных фотографий через файлообменник + запись всех фотографий на оформленный DVD-диск (на выбор)</li>
						<li>Печать 10 фото 15х20, 3 фото 20х30</li>
						<li>Цена: 20000 р.</li>
					</ul>
				</h4>
			</div>
			<div class="packet">
				<h2>Пакет «Все включено»</h2>
				<h4>
					<ul>
						<li>Предварительная консультация, обсуждение желаний и идей заказчика</li>
						<li>Репортажная и постановочная фотосъемка до 12-и часов</li>
						<li>Базовая обработка всех фотографий (цветокоррекция и кадрирование)</li>
						<li>Углубленная ретушь 60 фото</li>
						<li>Передача обработанных фотографий через файлообменник + запись всех фотографий на оформленный DVD-диск</li>
						<li>Печать 15 фото 15х20, 6 фото 20х30</li>
						<li>Фотокнига 20х20, 16 страниц (матовая бумага, индивидуальная твердая фотообложка)</li>
						<li>Цена: 35000 р.</li>
					</ul>
				</h4>
<br />
				<h4><em>Если Ваша свадьба не подходит ни под один из предложенных вариантов - не беда! Я подберу для Вас индивидуальный пакет услуг, который обязательно Вам подойдет.</em>
</h4>
			</div>
		</div>
	</div>

	<div class="main_block">
		<div class="price">
			<div class="packet">
				<h2><img src="/system/images/W1siZiIsIjIwMTYvMTAvMDIvM3RzMGF6ZHpwMF9fLmpwZyJdLFsicCIsInRodW1iIiwiNDgweDcyMFx1MDAzZSJdXQ/%D0%B8%D0%BD%D0%B4%D0%B8%D0%B2%D0%B8%D0%B4%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F%20%D1%84%D0%BE%D1%82%D0%BE%D1%81%D0%B5%D1%81%D1%81%D0%B8%D1%8F.jpg?sha=81e314ebad6902f3" title="семья и дети" alt="семья и дети" data-rel="480x720" width="480" height="320" /></h2>
<h2>Индивидуальная фотосъемка</h2>
				<h5>В студии (оплачивается отдельно), дома или на природе</h5>
				<h4>
					<ul>
						<li>Предварительная консультация и рекомендации по подбору образов</li>
						<li>Фотосъемка от 1 часа</li>
						<li>150+ фотографий с базовой обработкой фото (цветокоррекция и кадрирование)</li>
						<li>8 фото - углубленная ретушь и обработка</li>
						<li>Передача обработанных фотографий через файлообменник</li>
						<li>Цена: 2500 р./час, с учетом работы визажиста (от 4000 р.)</li>
					</ul>
				</h4>
			</div>
		</div>
		<div class="price">
			<div class="packet">
				<h2><img src="/system/images/W1siZiIsIjIwMTYvMTAvMDIvMmd1NGhoZTl2Ml9fLmpwZyJdLFsicCIsInRodW1iIiwiNDgweDcyMFx1MDAzZSJdXQ/%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D0%BF%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82.jpg?sha=8e2337a3f29c4ce5" title="семья и дети" alt="семья и дети" data-rel="480x720" width="480" height="320" /></h2>
<h2>Бизнес портрет, актерское портфолио</h2>
				<h4>
					<ul>
						<li>Фотосъемка 1 час</li>
						<li>120+ фотографий с базовой обработкой фото (цветокоррекция и кадрирование)</li>
						<li>5 фото - углубленная ретушь и обработка</li>
						<li>Передача обработанных фотографий через файлообменник</li>
						<li>Цена: 2500 р., с учетом работы визажиста - 4000 р.</li>
						<li>Выезд фотографа со студийным оборудованием + 1500 р.</li>
						<li>Аренда фотостудии оплачивается отдельно</li>
					</ul>
				</h4>
			</div>
		</div>
		<div class="price">
			<div class="packet">
				<h2><img src="/system/images/W1siZiIsIjIwMTYvMTAvMDIvN3d1aGNrNWg0Z19fLmpwZyJdLFsicCIsInRodW1iIiwiNDgweDcyMFx1MDAzZSJdXQ/%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D1%8C%D0%B5%D1%80.jpg?sha=3d71e4cea170467e" title="семья и дети" alt="семья и дети" data-rel="480x720" width="480" height="320" /></h2>
<h2>Интерьерная фотосъемка</h2>
				<h4>
					<ul>
						<li>Фотосъемка интерьера 350 р. за фото</li>
						<li>Обработка 150 р. за фото</li>
						<li>Работа один день 15 000 р.- минимальный заказ на интерьерную фотосъемку 2500 р.</li>
						<li>Выезд фотографа со студийным оборудованием + 1500 р.</li>
					</ul>
				</h4>
			</div>
		</div>
		<div class="price">
			<div class="packet">
				<h2><img src="/system/images/W1siZiIsIjIwMTYvMTAvMDIvYm5yYzRncWExX18uanBnIl0sWyJwIiwidGh1bWIiLCI0ODB4NzIwXHUwMDNlIl1d/%D1%80%D0%B5%D0%BF%D0%BE%D1%80%D1%82%D0%B0%D0%B6.jpg?sha=9160be1e8a532977" title="семья и дети" alt="семья и дети" data-rel="480x720" width="480" height="320" /></h2>
<h2>Репортажная фотосъемка</h2>
				<h5>День рождения, праздник, концерт, утренник, 1 сентября, выпускной, конференция и др.</h5>
				<h4>
					<ul>
						<li>200+ фотографий с базовой обработкой фото (цветокоррекция и кадрирование)</li>
						<li>Передача обработанных фотографий через файлообменник</li>
						<li>Цена: 2500 р. в час</li>
						<li>Работа один день от 10 000 р.</li>
					</ul>
				</h4>
			</div>
		</div>
		<div class="price">
			<div class="packet">	
				<h2><img src="/system/images/W1siZiIsIjIwMTYvMTAvMDIvNGFwcnJ3bXc4aV9fLmpwZyJdLFsicCIsInRodW1iIiwiNDgweDcyMFx1MDAzZSJdXQ/%D0%BF%D1%80%D0%B5%D0%B4%D0%BC%D0%B5%D1%82%D0%BA%D0%B0.jpg?sha=bb608d4634b93a73" title="семья и дети" alt="семья и дети" data-rel="480x720" width="480" height="320" /></h2>
<h2>Предметная фотосъемка</h2>
				<h5>Цена указана без учета обработки фотографии, фотостудия оплачивается отдельно</h5>
				<h4>
					<ul>
						<li>Фотосъемка предмета 150 р. за фото</li>
						<li>Фотосъемка бликующих, стеклянных, прозрачных, металлических и сложных предметов от 350 р. за фото</li>
						<li>Выездная фотосъемка крупногабаритных предметов от 400 р. за фото</li>
						<li>Фото композиции, группы, наборы, натюрморты от 700 р. за фото</li>
						<li>Работа один день 15 000 р.</li>
						<li>Обработка фото для каталога, интернет-магазина 150 р. за фото</li>
						<li>Обработка бликующих, стеклянных, прозрачных, металлических и сложных предметов от 250 р. за фото</li>
						<li>Выезд фотографа со студийным оборудованием + 1500 р.</li>
						<li>Минимальный заказ на предметную фотосъемку: 2500 р.</li>
					</ul>
				</h4>
			</div>
		</div>
	</div>
	
	<div>
		<div class="additions">
			<h2>Дополнительно</h2>
			<h4>
				<ul>
					<li>Ретушь дополнительных снимков - 100 р./шт</li>
					<li>Для постоянных клиентов скидка: начиная со второй съемки - 15 %</li>
					<li>Услуги визажиста: 1000 р. - мейкап, 500 р. - легкая укладка. Свадебный мейкап от 3000 р.<br />
					(Внимание! 1 час уходит на мейкап, 30 минут на укладку)</li>
					<li>Услуги аквагримера для детских праздников, индивидуальных фотосессий и фотосессий беременных</li>
					<li>Аренда платьев для индивидуальной фотосъемки</li>
					<li>Планшеты (индивидуальная фотообложка + 2 разворота) от 1500 р.</li>
					<li>Фотокниги (10 разворотов) от 5000 р.</li>
				</ul>
			</h4>
			<h2>Примечание</h2>
			<h4>
			Базовая обработка всех кадров осуществляется в течение 2-3-х недель после
			съемки (в зависимости от загруженности). Углубленная ретушь фото осуществляется в
			течение 2-х недель после отбора кадров клиентами. Обработка репортажной фотосъемки
			занимает 1,5-2 недели.<br />
			Ускоренная обработка фотографий в течение недели + 50% к стоимости услуг.
			Все фотографии после обработки и ретуши отдаются клиентам в формате jpeg в отличном
			качестве, подготовленном для печати и размещению в сети. Передача фотографий в формате RAW + 50% к стоимости услуг.<br />
			Фотостудия оплачивается отдельно (приблизительная стоимость аренды от 1000-2000 р. /
			час). На время аренды фотостудии Вы несете полную материальную ответственность за
			порчу предоставленного реквизита. Запись на фотосессии в фотостудии осуществляется только по предоплате. Сумма
			предоплаты 1000-1500 р. При отказе от фотосессии менее, чем за 5 дней, предоплата не
			возвращается.<br />
			Участие в фотосессии означает Ваше согласие на публичный показ фотографий в моем
			портфолио, на моих страницах в соцсетях, выставках и конкурсах.<br />
			Если у Вас желание провести конфиденциальную фотосъемку, пожалуйста, не забудьте
			предупредить об этом заранее!<br />
			Оплата производится в день фотосъемки за вычетом предоплаты. В случае, если фотосъемка проходит в Московской области, необходимо организовать трансфер или
			оплатить такси туда/обратно.
			</h4>
		</div>
	</div>
	<a href="#" title="Back to top"><%= image_tag("top-btn.png",id:"back-to-top") %></a>
</body>
  
