<% provide(:title, 'Акции') %>
<!DOCTYPE html>
<html>
<body>
  <div class="sale">
    <%= raw get_sale(@page.content_for(:body)) %>
  </div>
  <a href="#" title="Back to top"><%= image_tag("top-btn.png",id:"back-to-top") %></a>
</body>
