<% if gallery.items.count != 0 %>
<a href="<%= refinery.portfolio_gallery_path(gallery) %>" style="text-decoration:none">
<div class="galleries item">
	<div class="photo-gallery-thumbnail">
		<%= image_tag(first_item(gallery).thumbnail(geometry:"320x").url,class:"small_images",alt:"",title:"") %>
		<% if !mobile %>
			<%= image_tag(second_item(gallery).thumbnail(geometry:"320x").url,class:"small_images second",alt:"",title:"") %>
			<div class="black"></div>
		<% end %>
	</div>
</div>
</a>
<% end %>
