<footer class="footer">
	<a href="http://realwave.ru" target="_blank" id="my_logo" style="text-decoration:none">
	  <%= image_tag("icon.png",id:"realwave") %>
	</a>

	<a href="http://vk.com/alina.paskeyeva" target="_blank" style="text-decoration:none">
		  <%= image_tag("vkontakte.png",class:"icon") %>
	</a>
	<a href="https://www.facebook.com/alina.paskeyeva" target="_blank" style="text-decoration:none">
		<%= image_tag("facebook.png",class:"icon") %>
	</a>
	<a href="https://instagram.com/alina_paskeyeva" target="_blank" style="text-decoration:none">
	    <%= image_tag("insta.png",class:"icon") %>
	</a>
</footer>
